on: deployment
name: Build libogg
jobs:
  buildAndUploadArtifact:
    name: buildAndUploadArtifact
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@master
    - name: liboggBuildActions
      uses: ./
    - uses: actions/upload-artifact@master
      with:
        name: libogg-ogv.js 
        path: ${{ github.workspace }}/build/js/root
